extends layout

block content
    nav(class="navbar navbar-inverse navbar-fixed-top")
        div.container
            div.navbar-header
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                    span.sr-only
                        Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                a(class="navbar-brand" href="#") Пресса.ру

            div(id="navbar" class="collapse navbar-collapse")
                ul(class="nav navbar-nav")
                  li.active
                    a(ui-sref="index") Home
                  li
                    a(ui-sref="hello") About
    div
        h1= title
        ui-view
