doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/ionic.min.css')
        script(src='javascripts/ionic.bundle.min.js')
        //script(src="dist/app.min.js")
        script(src="javascripts/app.js")
        script(src="javascripts/router.js")
        script(src="javascripts/controller.js")
    body(ng-app='readerApp' animation="slide-left-right-ios7")
        div
            div
                ion-nav-bar.bar-stable
                    ion-nav-back-button

                ion-nav-view
