doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
        title= title
        link(rel='stylesheet', href='/dist/css/style.css')
        link(rel='stylesheet', href='/dist/css/ionic.min.css')
        script(src='dist/js/ionic.bundle.min.js')



        //script(src="dist/js/app.min.js")
        script(src="dist/js/app.js")
        script(src="dist/js/router.js")
        script(src="dist/js/controller.js")
        script(src="dist/js/service.js")
        script(src="dist/js/config.js")
    body(ng-app='readerApp' animation="slide-left-right-ios7")
        div
            div
                ion-nav-bar.bar-stable
                    ion-nav-back-button

                ion-nav-view

        link(rel='stylesheet', href='/dist/ion-gallery.css')
        script(src='/dist/ion-gallery.min.js')
