div

    div(class="row" ng-repeat="a in top_list")
        h1 Статья {{ a }}
        div(class="col-md-4 col-sm-6 col-xs-12")
            img(src="media/top10/cover.jpg" class="pull-left img-responsive")
        div(class="col-md-8 col-sm-6 col-xs-12")
            p
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                Lorem Ipsum.
