ion-view(title="Популярное" id="page1")
    ion-content(padding="true" class="has-header")
        div
            ion-list
                ion-item(class="item-thumbnail-left" ng-repeat="a in top_list")
                    img(ng-src="{{ a.small_image_portrait }}" )
                    h2 {{ a.title }}
                    p {{ a.author }}
                    p {{ a.journal }}
                    p
                        {{ a.short_text }}
