script(type="text/ng-template" id="dist/templates/magazines.html")
    ion-view(title="Журналы" id="page1")
        ion-content(padding="true" class="has-header")
            ion-gallery(ion-gallery-items="items")
            
