script(type="text/ng-template" id="dist/templates/page_detail.html")
    ion-view(title="Страница {{ page.number }}" )
        
        ion-scroll(direction="xy" zooming="true" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" max-zoom="10" style="width: 100%; height: 100%")
            img(ng-src="data/journals/{{issue.info.journal_id}}/{{issue.info.id}}/pages/{{ page.number }}.jpg")
                 
           