script(type="text/ng-template" id="dist/templates/page_detail.html")
    ion-view(title="Страница {{ page.number }}" )
        ion-content(padding="true" class="has-header")
             ion-scroll(direction="x")
                 img(ng-src="data/journals/{{issue.info.journal_id}}/{{issue.info.id}}/pages/{{ page.number }}.jpg")
                 
           