script(type="text/ng-template" id="dist/templates/read.html")
    ion-view(title="Читать" id="page1")
        ion-content(padding="true" class="has-header")
            div
                h3 Разработка
